


* {
    box-sizing: border-box;
  }
.container {
    display: grid;
    height: 300vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.1fr 0.5fr 0.5fr;
    grid-template-areas: 
    "header header header header"
    "aside main main main"
    "aside cont1 cont2 cont3"
    "aside footer footer footer";
    gap:0.2rem;
}

header{
    background:rgb(41, 37, 37);
    grid-area: header;
    
}

.logo {
    margin: 20px;
    float: left;
}

.logo img {
    width:250px;
    height: 120px;
}


a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.menu {
    position: relative;
    top: 0px;
    left:0px
}
.menu a{
    float: left;
    padding: 50px;
    color: white;
    
}
.menu a:hover{
    color: red;
    text-decoration: none;
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/*Styling the hamburger menu*/
/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;

}/* Style label tag */

.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} 


/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

aside {
    background:rgb(9, 255, 0);
    grid-area: aside;
}


#categories {
    margin: 20px;   
}

#lastposts {
    margin: 20px;  
}

aside li {
    padding: 2%;
    
}

aside li a {
    color:rgb(21, 19, 24);
    font-weight: 700;
}
aside li a:hover{
    color:blue;
    text-decoration: none;
    
}
main {
    background: blueviolet;
    grid-area: main;
    position: relative;
    
}

.mainimg img {
    width: 100%;   
}


.maintxt{
    position: absolute;
    top: 20%;
    text-align: center;
    padding-left: 2.5%;
    color:azure;
    text-shadow: 2px 2px black ;
    
}

.cont-img img{
    width: 100%;
}

.cont-txt {
    padding: 10px;
}

.author-box { 
    size: 30%;
    justify-items: center;
    border: solid 1px gray;
    margin:20px;

}
.author-info {
    font-size: 10px;
    margin: 15px;
    size:50%  
}

.author-pic img{
    width:25%;
    margin: 20px;
    float: left;
}

#post1 {
    background: aqua;
    grid-area: cont1;
    padding: 5%;
}


.btn {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5px;    
}

#post2 {
    background: rgb(223, 73, 243);
    grid-area: cont2;
    padding: 5%
}

#post3 {
    background: rgb(249, 253, 0);
    grid-area: cont3;
    padding: 5%;
}

footer {
    background:rgb(41, 37, 37);
    grid-area: footer;
    text-align: center;
  }

  footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
 }

 footer li {
    padding: 0 10px;
 }

 footer ul a{
    color: white;
    text-decoration: none;
    opacity: 0.8;
 }

 footer ul a:hover {
    text-decoration: none;
    color:rgb(223, 73, 243);
    opacity: 1;
 }


 footer .social > a {
    font-size: 24px;
    width:40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin:5px 8px;
    opacity: 0.75;
    color:aliceblue;
    
 }

 footer .social >a:hover {
    opacity: 0.5;
 }

 footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: #aaa;
    margin-bottom: 0;
 }

 p a{
    text-decoration: none;
    color: white;
 }

 p a:hover {
    text-decoration: none;
    color:rgb(223, 73, 243);
 }

 @media only screen and (max-width:550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.2fr 2.2fr 1.2fr 1.2fr 1.2fr 0.4fr;
        grid-template-areas: 
        "header"
        "aside"
        "main"
        "cont1"
        "cont2"
        "cont3"
        "footer";    
    }
    .hamb {
        display: block;
        width:100%;
        border-bottom: 1px solid white;
        padding: 5px 0;
    }

    .menu {
        display: none;
    }

 }

 @media only screen and (max-width:767px) {
    .grid_items {
      grid-template-columns: 47.5% 47.5%;
      grid-column-gap: 5%;
      grid-row-gap: 40px;
    }
    .grid_items > div {
      padding: 20px;
    }
    .header li {
        float: left;
      }
      .header li a {
        padding: 20px 30px;
      }
      .header .menu {
        clear: none;
        float: right;
        max-height: none;
      }
      .header .menu-icon {
        display: none;
      }

    
  }